/*CENTRAL AMERICA*/
.CostaRica {
	top: 58.5%;
	left: 21%;
}

.ElSalvador {
	top: 57%;
	left: 19.6%;
}

.Guatemala {
	top: 56%;
	left: 19.2%;
}

.Honduras {
	top: 57%;
	left: 20%;
}

.Jamaica {
	top: 55%;
	left: 22%;
}

.Mexico {
	top: 52%;
	left: 15.5%;
}

.Nicaragua {
	top: 58%;
	left: 20.4%;
}

.Panama {
	top: 59.2%;
	left: 21.7%;
}

/*SOUTH AMERICA*/
.Brazil {
	top: 68%;
	left: 30%;
}

.Columbien {
	top: 62%;
	left: 23.5%;
}

.Ecuador {
	top: 66%;
	left: 22.2%;
}

.Peru {
	top: 70%;
	left: 24.5%;
}

/*ASIA*/
.EastTimor {
	top: 66%;
	left: 80.5%;
}

.India {
	top: 53%;
	left: 66%;
}

.Indonesia {
	top: 64%;
	left: 78%;
}

.Nepal {
	top: 50%;
	left: 67.5%;
}

.PapuaNewGuinea {
	top: 65%;
	left: 85%;
}

.Vietnam {
	top: 56%;
	left: 74%;
}

/*AFRICA*/
.Burundi {
	top: 63.5%;
	left: 52.7%;
}

.Ethiopia {
	top: 59%;
	left: 55.5%;
}

.Kenya {
	top: 62%;
	left: 55%;
}

.Rwanda {
	top: 63%;
	left: 52.8%;
}

.Tanzania {
	top: 65%;
	left: 54.3%;
}

.Uganda {
	top: 62%;
	left: 53.5%;
}

.Zambia {
	top: 68%;
	left: 52%;
}
