main {
	position: relative;
	top: 76px;
	background: #ede8de;
}

.sec01 {
	position: relative;
	height: 100vh;
}

.sec01 > .mainBg01 {
	width: 100vw;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	overflow: hidden;
	position: absolute;
}

.sec01 .mainBg01 video {
	object-fit: cover;
}

.secSell01 {
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}

.secSell01 {
	padding: 0px 0px;
}

.secSell01 > div {
	padding: 10px 0px;
	margin: 0 auto;
	text-align: center;
}

.secSell01 img {
	width: 100%;
}

.secSell01 .topLogo {
	max-width: 110px;
}

.secSell01 .secTitel {
	margin: 40px 0px;
	font-size: 45px;
	color: #ffffff;
	font-weight: 600;
}

.secSell01 .footLogo {
	max-width: 70px;
}

.secfoot01 {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	transition: 1s ease;
	overflow: hidden;
}

.midText {
	margin: auto;
	padding: 20px 30px;
	background: #ffffff;
	line-height: 34px;
	height: 100%;
}

.midText .row {
	margin: 10px 0px 25px;
}

.midText .col {
	display: inline-block;
	padding: 30px 0px;
}

.midText .contact02 {
	border-left: 2px solid #666666;
	width: 30%;
	margin-left: 10%;
	padding-left: 30px;
}

#mailCon {
	width: 25px;
}

.midText h2 {
	font-size: 2rem;
}

.midText h3 {
	font-size: 1.6rem;
}


/*=============================*/
.sec02 .sec02 .topContent {}

.sectionSell02 {
	margin: 0 auto;
	min-height: 50vh;
	background: #ffffff;
}

.coffeListTetel {
	text-align: center;
	color: #666666;
	font-size: 38px;
	line-height: 200%;
}

.secContent {
	padding: 20px 0px;
}

.secContent ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.secContent li {
	padding: 2%;
	list-style: none;
	width: 25%;
}

.secContent a:hover img {
	transform: scale(1.1);
}

.secContent a:hover .textContent {
	font-size: 20px;
}



/*		 스위치 이미지*/
.linkList {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40%;
	left: 50%;
	transform: translateX(-50%);
	transition: 1s ease;
}

.linkBtn {
	margin: 0px 10px;
	position: relative;
	width: 140px;
	height: 50px;
	border: 2px solid #959595;
	color: #ffffff;
	border-radius: 40px;
	transition: .5s ease;
	background: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.linkBtn:hover {
	width: 190px;
	color: #ffffff;
	border: 2px solid #ffffff;
}

.linkBtn:hover span {
	border-bottom: 4px solid #ffffff;
	border-right: 4px solid #ffffff;
}

.linkName {
	position: absolute;
	top: 50%;
	left: 55%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 18px;
}

.imgTitel {
	overflow: hidden;
}

.imgTitel > img {
	width: 100%;
	transition: .5s ease;
}

.textContent {
	margin: 5px 0px 0px;
	height: 35px;
	color: #000000;
	font-size: 18px;
	font-weight: 600;
	transition: .5s ease;
	text-align: center;
}

.textContent h4 {
	display: inline-block;
	width: 130px;
	padding: 2px 0px;
	border: 1px solid #666666;
	border-radius: 30px;
}

/*==================================*/
.sec03 {}

.sectionSell03 {

	margin: 0 auto;
	background: #ffffff;
	padding: 30px 0px 0px;
}

potoList li {
	list-style: none
}

.potoList {
	position: relative;
}


.potoList .product_list {
	overflow: hidden;
	position: relative;

	height: 665px;
}

.potoList .product_list li {
	position: absolute;
}

.potoList .product_list img {}

.potoListMenu {
	position: relative;
	width: 100%;
	height: 80px;
	background: #cd1530;
}

#prevBtn,
#nextBtn {
	position: absolute;
	border-radius: 100%;
	border: 2px solid #ffffff;
	top: 50%;
	transform: translateY(-50%);
	height: 24px;
	width: 24px;
}

#prevBtn {
	right: 50px;
}

#nextBtn {
	right: 10px;
}

.potoListMenu .arrowL {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 22%;
	left: 32%;
	transform: rotate(-45deg);
	border-left: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
}

.potoListMenu .arrowR {
	position: absolute;
	width: 12px;
	height: 12px;
	top: 22%;
	right: 33%;
	transform: rotate(135deg);
	border-left: 2px solid #ffffff;
	border-top: 2px solid #ffffff;
}

.potoCount {
	line-height: 500%;
	color: #ffffff;
	text-align: center;
}


/*에니메이션 효과 */
.scrollIcon label span:nth-child(1) {
	animation: ani01 1.5s infinite ease;
}

@keyframes ani01 {
	0% {
		height: 25px;
		top: 0px;
	}

	49% {
		height: 0;
		top: 25px;
	}

	50% {
		top: 0px;
	}

	100% {
		height: 25px;
		top: 0px;
	}
}

/*animated*/

.secContent.scrollOn {
	top: -35vh;
}

.linkList.scrollOn {
	top: -10%;
}

.secfoot01.scrollOn {
	height: 170px;
}


/* 크기별 조정*/
/*=====================================================*/
/*
##Device = Desktops
##Screen = 1281px to higher resolution desktops
##Device = 데스크탑
##Screen = 1281px 이상 해상도 데스크탑
*/

@media (min-width: 1281px) {
	html {
		font-size: 10px;
	}

	div.midText,
	div.sectionSell01,
	div.sectionSell02,
	div.sectionSell03 {
		width: 1100px;
	}
}

/*
##Device = Laptops, Desktops
##Screen = B/w 1025px to 1280px
##Device = 랩탑, 데스크탑
##Screen = 1025px에서 1280px 사이
*/

@media (min-width: 1025px) and (max-width: 1280px) {
	html {
		font-size: 10px;
	}

	div.midText,
	div.sectionSell01,
	div.sectionSell02,
	div.sectionSell03 {
		width: 1100px;
	}
}

@media (max-width: 1280px) {}

/*
##Device = Tablets, Ipads (portrait),
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(세로),
##Screen = 768px에서 1024px 사이
*/

@media (min-width: 768px) and (max-width: 1024px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1024px) {

	div.midText,
	div.sectionSell01,
	div.sectionSell02,
	div.sectionSell03 {
		width: 100%;
	}

	.secContent li {
		padding: 2%;
		width: 50%;
	}

	.midText .contact02 {
		width: 100%;
		margin-left: 0%;
		padding-left: 5%;
	}

	.secSell01 .topLogo {
		max-width: 100%;
	}
	.secSell01 .footLogo {
		max-width: 100%;
	}
}

/*
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
##Device = 태블릿, 아이패드(가로)
##Screen = 768px에서 1024px 사이
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	html {
		font-size: 12px;
	}
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
##Device = 저해상도 태블릿, 모바일(가로)
##Screen = 481px에서 767px 사이
*/

@media (min-width: 481px) and (max-width: 767px) {
	html {
		font-size: 12px;
	}
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
##Device = 대부분의 스마트폰 모바일 기기(세로)
##Screen = 320px에서 479px 사이
*/

@media (min-width: 320px) and (max-width: 480px) {
	html {
		font-size: 12px;
	}
}
